@page "/User"
@model Messenger.API.Controller.UserController
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h3>User</h3>

<table class="table">
    <thead>
    
    </thead>
</table>


@code {
    
}